.container-nav{
   display: block;
    position: fixed;
    border: 1px solid #eee;
    border-radius: 3px;
    width: 300px;
    height: 800px;
    background-color:#e6e1e1;
    z-index: 100;
    overflow: hidden;

    .nav-text{
        color: #45c3d2;
        margin: auto;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        height: 50px;
        border-bottom:solid 1px #eee;
        padding-top: 15px;
        padding-left: 30px;
        font-weight: 400;
        &:hover{
          opacity: 0.8;
        }
        
    }
    .nav-icon{
      cursor: pointer;
      padding-left: 30px;
      display: flex;
      padding-top: 10px;
        .nav-img{
          padding-right: 15px;
        }
    }
}