@import "variables";

.text-center {
    text-align: center !important;
    &:hover{
        cursor: pointer;
        color:#45c3d2;

    }
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}